// Here you can add other styles
.blacktheme{
    background-color: rgb(44, 44, 44);
    border: black;
}
.circularLandscape{
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 4px rgb(168, 168, 168);
}
.detailfeed{
    border-radius: 0px 20px 20px 0px;
    margin-top: 30px;
    box-shadow: 2px 2px 5px gray;
}
.detailside{
    background-color: rgb(160, 160, 160);    
    border-radius: 20px 0px 0px 20px ;
    margin-top: 30px;
    box-shadow: 2px 2px 5px gray;
}
.circularPhotodetail{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 4px rgb(168, 168, 168);
}
.recPhotodetail{
    width: 325px;
    height: 250px;
    object-fit: cover;      
}
